<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <main class="mainAppArea">
    <mat-card class="header">
      <label class="masterColorText">Master color background:</label>
      <input matInput
      [(colorPicker)]="masterBgColor"
      [value]="masterBgColor"
      [style.background]="masterBgColor"
      />
      <button mat-raised-button color="primary" class="addMovieBtn" (click)="addMovie()">Add movie</button>
    </mat-card>
    <mat-card>
     <ul class="moviesContainers">
       <li *ngFor="let movie of movies">
          <movie-container [movie]="movie" [masterBgColor]="masterBgColor"></movie-container>
       </li>
     </ul>
    </mat-card>
  </main>
</div>

