<mat-card class="movieContainer" [ngStyle]="{'background-color': overrideBgColor ? overrideBgColor : masterBgColor}">
    <mat-card-content>
        <mat-form-field>
            <input matInput
                [(colorPicker)]="pickerColor"
                [value]="pickerColor"
                (colorPickerChange)="pickerColor=$event;updateOverrideBgColor($event)"
               />
        </mat-form-field>
        <h3 class="movieName">{{movie.name}}</h3>
        <a [href]="movie.link" target="_blank">{{movie.link}}</a>
    </mat-card-content>
</mat-card>